<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guitar Collector</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1>Home is where my guitars are</h1>
    <hr />
    <p>I like guitars......</p>
    <div class="imgs-container">
        <div class="img-container">
            <img src="../static/images/Fender_Telecasters.jpg">
        </div>
    </div>        



    {% endblock %}
</body>
</html>